body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    text-align: center;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 80px;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 80%;
}




P {
    text-align: justify;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exprience-item {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;

}

.exprience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.position {
    text-align: center;
}

#full-stack-developer {
    border-left: 7px solid tomato;

}

#baby-web-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}